<hr/>
<h3>
    Introduce un comentario:
</h3>


<%- # Este formulario envia al controlador de comments los siguientes parametros para crear un objeto tipo comment (aunque estamos en una vista perteneciente a posts form_for envia el formulario a la función create dentro del controlador de comments)): -%>
<%- # "comment"=>{"post_id"=>"1", "user_name"=>"juanito", "web_page"=>"pepito", "contenido"=>"una chorrada"}, "commit"=>"Post Comment"}  -%>

 <%- # Opciones para loguearse con otros servicios o para introducir comentario como usuario anonimo  -%>

 <div class = "providers_buttons">
    <h4> Autenticarse con:</h4>
    <p> Facebook:  <%= link_to 'Login', '/auth/facebook' %></p>
    <p> Twitter:  <%= link_to 'Login', '/auth/twitter' %></p>
    <p> Linkedin:  <%= link_to 'Login', '/auth/linked_in' %></p>
 </div>



<%= form_for(@comment, :remote => true, :html => {:id => "comment_form_#{post}"}) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%- # Gracias al parametro value le paso un valor concreto al hidden field.. de forma que va a recibir el parametro :post_id = una_id_de_un_post  -%>
    <%= f.hidden_field :post_id, :value => post %>

    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :user_name %>
    </p>

    <p>
      <%= f.label :web_page %><br/>
      <%= f.text_field :web_page %>
    </p>

    <p>
      <%= f.label :contenido %><br/>
      <%= f.text_area :contenido %>
    </p>

    <p>
      <%= f.submit "Post Comment" %>
    </p>
<% end %>