<div class="post">
  <div class="post_title"><h2><%= link_to "#{post.title}", post_path(post) %></h2></div>
  <div class="post_date"><%= post.created_at.to_s(:long) %></div>
  <div class="post_body text_base"><%= post.body.html_safe %></div>
  <br>
</div>
<span class="comments_count"> <%= pluralize(post.comments.count, "Comment") %></span>
<span class="show_comments">
     <%= link_to "Show / leave comments", post_path(post) + "#comments_beginning" %>
</span>

<%- # TODO: hay que hacer que si el post es muy largo no salga todo el post, sino solo parte de el... pero ¡cuidado con las imágenes! -%>

<div class="space_between_posts">&nbsp;</div>