<h1>Diego Pau Blog</h1>

<div class="left_column span-14">

  <div id = "posts">

    <% @posts.each do |post| %>

        <div class = "post">
          <div class = "post_title"> <h2><%= post.title %></h2> </div>
          <div class = "post_body text_base"><%= post.body.html_safe %></div>
          <br>
          <div class="post_date"><%= post.created_at %></div>
        </div>


        <div class = "comments">

            <%-# AQUI LE PASO AL PARCIAL ENCARGADO DE INTRODUCIR NUEVOS COMENTARIOS LA VARIABLE local post -%>
            <%= render :partial => 'comment_form', :locals => { :post => post.id } %>

            <% post.comments.each do |comment| %>
                <div class = "comment">
                    <div class = "comment_user_name"> <%= comment.user_name %></div>
                    <div class = "comment_date"> <%= comment.web_page %> </div>
                    <div class = "comment_content"> <%= comment.contenido %> </div>
                </div>
            <% end %>
        </div>

        <div class = "space_between_posts"> </div>

    <% end %>
  </div>

</div>
<br />