<h1>Diego Pau Blog</h1>

<div class="left_colum span-14">

  <div id = "posts">

    <% @posts.each do |post| %>

        <div class = "post">
          <div class = "post_title"> <h2><%= post.title %></h2> </div>
          <div class = "post_body text_base"><%= post.body.html_safe %></div>
          <br>
          <div class="post_date"><%= post.published_at %></div>
          <div class="post_admin_controls"><%= link_to 'Show', post %>  <%= link_to 'Edit', edit_post_path(post) %>  <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></div>
        </div>


        <div class = "comments">

            <% post.comments.each do |comment| %>
                <div class = "comment">
                    <div class = "comment_user_name"> </div>
                    <div class = "comment_date"> </div>
                    <div class = "comment_content"> </div>
                </div>
            <% end %>
        </div>

        <div class = "space_between_posts"> </div>

    <% end %>
    <%= link_to 'New Post', new_post_path %>
  </div>

</div>
<br />