<%= render :partial => 'left_column_search_done' %>

<%= render :partial => 'cabecera_search_done' %>

<div class="cuerpo span-20 last">

  <div class="posts span-14">

    <div class="post">
      <div class="post_title"><h2><%= link_to "#{@post.title}", post_path(@post) %></h2></div>
      <div class="post_date"><%= @post.created_at.to_s(:long) %></div>
      <div class='share_buttons'>
        <span class='st_sharethis' displayText='ShareThis' st_url="<%=post_url(@post) %>" st_title="<%= @post.title %>" st_image="http://diegopau.com/images/blue_box_mini.png" st_summary="<%=get_summary(@post.body,150)%>"></span>
        <span class='st_email' displayText='Email' st_url="<%= post_url(@post) %>" st_title="<%= @post.title %>" st_image="http://diegopau.com/images/blue_box_mini.png" st_summary="<%= get_summary(@post.body, 150) %>"></span>
        <span class='st_plusone_hcount' st_url="<%= post_url(@post) %>" st_title="<%= @post.title %>" st_image="http://diegopau.com/images/blue_box_mini.png" st_summary="<%= get_summary(@post.body, 150) %>"></span>
      </div>
      <div class="post_body text_base"><%= @post.body.html_safe %></div>
      <div id="tags_list">
        Tags:
        <% @post.tags.each do |tag| %>
            <%= link_to " #{tag.name}", {:controller => 'posts', :action => 'search_result', :tag => tag.name} %>
        <% end %>
      </div>
      <br>
    </div>


    <a name="comments_beginning"></a>
    <div id="comments">

      <div id="comments_header">
        <span id="comments_count"> <%= pluralize(@post.comments.count, "Comment") %></span>

         <span id="leave_a_comment">
            <%= link_to "Leave a comment!", :action => "show", :anchor => "comment_form" %>
         </span>
      </div>


      <%= render :partial => 'comment', :collection => @post.comments %>

    </div>

    <div id="comment-notice"></div>

    <div id="comment_form">
      <%- # AQUI LE PASO AL PARCIAL ENCARGADO DE INTRODUCIR NUEVOS COMENTARIOS LA VARIABLE local post      -%>
      <%= render :partial => 'comment_form', :locals => {:post => @post.id} %>
    </div>


  </div>

  <%= render :partial => 'right_column' %>

</div>
<br/>

